*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://images2.alphacoders.com/132/1325726.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.400);
    padding: 50px;
    align-items: center;

}

.button-home-nav-bar-dir img{
    width: 50px;
    height: 50px;
}